
params.fastqcOutdirI = "$projectDir/results/assembly/initialChecks"
params.fastqcOutdirT = "$projectDir/results/assembly/postTrim"

params.mqcOutdirI = "$projectDir/results/assembly/initialChecks/multiqc"
params.mqcOutdirT = "$projectDir/results/assembly/postTrim/multiqc"


params.fastpOutdir = "$projectDir/results/assembly/postTrim"
