conda.enabled = true
includeConfig 'config/maker_params.config'

params.outdirInitial = "$projectDir/results/assembly/1-initialChecks"
params.outdirTrim = "$projectDir/results/assembly/2-postTrim"
params.assess = "$projectDir/results/assembly/4-assess"

params.mqcOutdirI = "$params.outdirInitial/multiqc/"
params.mqcOutdirT = "$params.outdirTrim/multiqc/"
params.mqcOutdirA = "$params.assess/multiqc/"

params.spadesOut = "$projectDir/results/assembly/3-spades"
params.soapOut = "$projectDir/results/assembly/3-soap"
params.megaOut = "$projectDir/results/assembly/3-megahit"

params.buscoOut = "$params.assess/busco"
params.quastOut = "$params.assess/quast"
