import java.time.*
Date now = new Date()
conda.enabled = true
executor {
    name = "local"
    queueSize = 5
}
includeConfig 'config/paths.config'
includeConfig 'config/maker_params.config'
includeConfig 'config/controller.config'
includeConfig 'config/variant_calling.config'
params.tracedir = "${projectDir}/info"
params.timestamp = now.format("yyyyMMdd-HH-mm-ss")

timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}
report {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_report.html"
}
trace {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_trace.txt"
}
dag {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_dag.svg"
}


params.sspace_args = "-k 1"
params.spadesargs = "--trusted-contigs /home/sc31/My_files/MB_internship/data/reference/genomes/S_schenckii_genome.fasta"
params.bbduk_args = 'k=31 -Xmx1G -Xms16M'