    // 1 Read cleaning
params.clean_reads = false // Toggle read cleaning

    // 2 Genome assembly
params.to_assemble = 'S11' // Which sample will be assembled) ?
// E.g. "S10" to assemble sample 10
params.assess_assemblies = false // Toggle assembly assessment with BUSCO and quast
// Controls which directory (from the data directory) the cleaned DNA will get pulled from
params.assemble_genome = false // Whether or not to run the assembly pipeline
//
params.withSpades = false // Choice of assembly between spades and megahit, only if assembly pipeline is running
params.withMegahit = true
//
params.assemble_transcriptome = false // Assemble transcriptome from raw rna
params.get_replib = false // Construct repeat library from reference genome(s)

    // 3 Scaffolding
params.scaffold_contigs = false // Toggle scaffolding pipeline
params.assess_scaffolds = false // Run BUSCO on the scaffolds
params.to_scaffold = '' // What assembly file(s) to scaffold?
// Specify the directory followed by either the file name or a wildcard character
// Examples:
// - Scaffold megahit assembly 11: 3-megahit/B-S11_megahit.fasta
// - Scaffold all spades assemblies: 3-spades/*

    // 4 Genome annotation
params.train_genemarks = false // Train genemarks on all samples and generate gene models
params.annotate_scaffold = false // Toggle full annotation pipeline
params.annotate_what = 'chromosome' // Annotate either complete scaffold fasta files, or the scaffolds divided into separate fasta files based on their alignment to the reference genome's chromosomes
// 'chromosome' is recommended to take advantage of parallelization
//
params.current = 'S10' // Control which sample is annotated

    // 5 Variant calling
params.call = true // Toggle variant calling pipeline
params.called_reads = 'S11' // Control which sample to call reads on
params.extract_busco_genes = false // Toggle busco gene extraction, multiple sequence alignment and quantification
params.caller = 'GATK' // Use freeBayes or GATK pipeline for variant calling
