// Controls which directory (from the data directory) the raw DNA will get pulled from
//todo: for some reason, maker isn't annotating many genes at all...
params.to_assemble = 'raw_dna/current2'
params.bbduk_args = 'k=31 -Xmx1G -Xms16M'

params.assemble_genome = true // Completed Sun 28 May, 2023
params.assess_assemblies = false // No need now, they are pretty good
params.assemble_transcriptome = false // Completed Fri 19 May, 2023
params.get_replib = false // Completed Sat 27 May, 2023


params.scaffold_contigs = false
params.assess_scaffolds = false
// What directory to scaffold from the assembly directory?
params.to_scaffold = 'to_scaffold'


params.annotate_scaffold = false
// Which set is currently being annotated?
params.current = 'S02'

// Run quast with busco?
// params.quast_args = "--busco $projectDir/busco_downloads/lineages/sordariomycetes_odb10"
params.quast_args = ""
