// Controls which directory the raw DNA will get pulled from
params.to_assemble = ''

params.assemble_genome = false // Completed for now, Mon 15 May, 2023
params.assess_assemblies = false
params.assemble_transcriptome = false // Completed Fri 19 May, 2023
params.get_replib = false // Completed Sun 21 May, 2023
params.scaffold_contigs = true
params.assess_scaffolds = false
params.annotate_scaffold = false

// Run quast with busco?
// params.quast_args = "--busco $projectDir/busco_downloads/lineages/sordariomycetes_odb10"
params.quast_args = ""
