params.genomes = "$projectDir/data/reference/genomes/*"
params.scaffolds = "$projectDir/results/assembly/5-scaffolds/ragout"
params.aligned = "$projectDir/results/assembly/7-aligned/"
params.buscoOutS = "$projectDir/results/assembly/6-assess_scaff/busco"
params.quastOutS = "$projectDir/results/assembly/6-assess_scaff/quast"
params.mtOut = "$projectDir/results/assembly/6.5-mtDNA/"
params.mtDNA = "$projectDir/data/reference/Sporothrix_schenckii_mitochondrion.fasta"
params.sspace_args = "-k 1"
