est = "$projectDir/data/reference/rna/combined.fasta"
prot = "$projectDir/data/reference/protein/uniprot_sporothrix.fasta"
rep_lib = "$projectDir/data/reference/repeats/rep_lib.fasta"
rep_prot = "$projectDir/data/reference/repeats/te_proteins.fasta"
params.outdirAnnotate = "$projectDir/results/annotation"
params.augsplit = "100"

// For testing purposes

// First round of annotation
params.makerR1 = ["opts_est2genome=1 opts_protein2genome=1 opts_protein=$prot opts_est=$est opts_model_org= opts_rmlib=$rep_lib opts_repeat_protein=$rep_prot",
    "/home/sc31/My_files/MB_internship/results/annotation/genemarks_hmms"]
params.genemarks = "$projectDir/results/annotation/genemarks_hmms"

// Second round of annotation
params.makerR2 = "opts_est2genome=0 opts_protein2genome=0 opts_model_org= opts_augustus_species=Sporothrix_schenckii"

// Final round of annotation
params.makerR3 = "opts_est2genome=0 opts_protein2genome=0 opts_model_org= "
