// est = "$projectDir/data/reference/ncbi_sporothrix_nucleotide.fasta"
// prot = "$projectDir/data/reference/uniprot_sporothrix.fasta"

// For testing purposes
est = "$projectDir/data/reference/S_pombe_trinity_assembly.fasta"
prot = "$projectDir/data/reference/Swissprot_no_S_pombe.fasta"

// First round of annotation
params.makerR1 = "opts_est2genome=1 opts_protein2genome=1 opts_protein=$prot opts_est=$est opts_model_org= "


// Second round of annotation
params.makerR2 = "opts_est2genome=0 opts_protein2genome=0 opts_model_org= "


// Final round of annotation
