// Results paths
params.assembly = "$projectDir/results/assembly"
params.cleaned = "$projectDir/data/cleaned_dna"
params.annotation = "$projectDir/results/annotation"
params.scaffolds = "$projectDir/results/assembly/5-scaffolds"
params.vc = "$projectDir/results/variant-calling"

// Data
params.raw = "$projectDir/data/raw_dna/"
params.rna = "$projectDir/data/raw_rna"
params.clean = "$projectDir/data/cleaned_dna/$params.to_assemble"
params.rnaseq = "$projectDir/results/rna-seq"

// Reference files
params.ref = "$projectDir/data/reference"
params.genomes = "$params.ref/genomes/*"
params.mtDNA = "$params.ref/Sporothrix_schenckii_mitochondrion.fasta"
params.reference = "$params.ref/ncbi/S_schenckii_refseq/GCF_000961545.1_S_schenckii_v1_genomic.fasta"
params.quastRef = "$params.ref/ncbi/S_schenckii_refseq/S_schenckii_genome.fasta"
params.quastRefF = "$params.ref/ncbi/S_schenckii_refseq/S_schenckii.gff"
params.repeats = "$projectDir/results/repeatlib/"
params.repeat_ref = "$params.ref/repeats/"