// Results paths
params.assembly = "$projectDir/results/assembly" // Path to genome assembly results
params.cleaned = "$projectDir/data/cleaned_dna" // Path to cleaned DNA reads (will be generated during assembly)
params.annotation = "$projectDir/results/annotation" // Genome annotation results path
params.scaffolds = "$projectDir/results/assembly/5-scaffolds" // Scaffolding results path
params.vc = "$projectDir/results/variant-calling" // Variant calling path
params.busco_extract = "$projectDir/results/busco_extraction" // Path to extracted BUSCO genes, their multiple sequence alignment and quantification
params.rnaseq = "$projectDir/results/rna-seq" // Path to rnaseq results
params.repeats = "$projectDir/results/repeatlib/" // Repeat library creation results path

// Data
params.raw = "$projectDir/data/raw_dna" // Path to raw DNA reads for genome assembly
params.rna = "$projectDir/data/raw_rna" // Path to raw RNA reads for transcriptome assembly

// Reference files
params.ref = "$projectDir/data/reference" // Specifying the reference directory for convenience
params.genomes = "$params.ref/genomes/*" // Files in this directory will be used to
params.mtDNA = "$params.ref/Sporothrix_schenckii_mitochondrion.fasta" // mtDNA reference used for filtering
params.reference = "$params.ref/ncbi/S_schenckii_refseq/GCF_000961545.1_S_schenckii_v1_genomic.fasta" // Reference genome fasta file
params.ref_gff = "$params.ref/ncbi/S_schenckii_refseq/genomic.gff" // Reference gff file for quast and for variant calling
params.repeat_ref = "$params.ref/repeats/"
params.est = "$params.ref/rna/combined.fasta" // Maker est evidence
params.prot = "$params.ref/protein/uniprot_sporothrix.fasta" // Maker protein evidence
params.rep_lib = "$params.ref/repeats/rep_lib.fasta" // Maker repeat library
params.rep_prot = "$params.ref/repeats/te_proteins.fasta" // Maker repeat protein library

// Snpeff paths and configuration
params.snpeff_database = "/home/sc31/Bio_SDD/tools/snpEff/data/" // Path to snpeff data directory
params.snpsift_jar = "/home/sc31/Bio_SDD/tools/snpEff/SnpSift.jar" // Path to snpeff jar file
params.snpeff_db_name = "customGCF000961545" // Name of snpeff custom database

// Mapping files
params.gene_locs = "$params.ref/ncbi/S_schenckii_refseq/common_gene_locs.txt" // Locations of the common busco genes, generated with the "common_buscos.py" script
params.busco_gff = "$params.ref/ncbi/S_schenckii_refseq/common_genes_on_gff.tsv" // NCBI gene to BUSCO mapping file, generated with the "busco_to_gff.sh" script

// GO data
params.go_annotations_ref = "$params.ref/go_kegg.csv" // The NCBI to GO annotation mapping file generated with the "gene_ids_to_go.py" script
params.go_ontology = "$params.ref/go-basic.obo" // GO terminology file

// Misc.
params.reftree = "$projectDir/data/All_3188_alignment_tree.nwk" // Tree constructed from multiple sequence alignment of all genes, used for comparison
params.tmpdir = "${params.vc}/gatk_temp" // Temporary directory used in the variant calling pipeline
