params.outdirInitialR = "$projectDir/results/rna-seq/1-initialChecks"
params.outdirTrimR = "$projectDir/results/rna-seq/2-postTrim"
params.assessR = "$projectDir/results/rna-seq/4-assess"

params.mqcOutdirI = "$params.outdirInitialR/multiqc/"
params.mqcOutdirT = "$params.outdirTrimR/multiqc/"
params.mqcOutdirA = "$params.assessR/multiqc/"

params.spadesOutR = "$projectDir/results/rna-seq/3-spades"

params.buscoOutR = "$params.assessR/busco"
params.quastOutR = "$params.assessR/quast"
