params.outdirInitialR = "$projectDir/results/rna-seq/1-initialChecks"
params.outdirTrimR = "$projectDir/results/rna-seq/2-postTrim"
params.assessR = "$projectDir/results/rna-seq/4-assess"

params.mqcOutdirI = "$params.outdirInitialR/multiqc/"
params.mqcOutdirT = "$params.outdirTrimR/multiqc/"
params.mqcOutdirA = "$params.assessR/multiqc/"

params.spadesOut = "$projectDir/results/rna-seq/3-spades"
params.soapOut = "$projectDir/results/rna-seq/3-soap"
params.megaOut = "$projectDir/results/rna-seq/3-megahit"

params.buscoOut = "$params.assessR/busco"
params.quastOut = "$params.assessR/quast"
params.quastRef = "$projectDir/data/reference/quast/"
