params.vc_ref = "$projectDir/data/reference/ncbi/S_schenckii_refseq/GCF_000961545.1_S_schenckii_v1_genomic.fasta"
// params.vc_ref = "$projectDir/data/reference/genes/S_schenckii-1099-18_single_copy_busco_sequences.fasta"
// params.vc_ref = "$projectDir/data/reference/genes/buscos.fasta"
params.tmpdir = "${params.vc}/gatk_temp"
params.snpeff_data = "${params.vc}/snpeff_data"
params.readgroups = "RGID=1 RGLB=lib1 RGPL=ILLUMINA RGPU=unit1 RGSM=2"
params.busco_ref = "$projectDir/data/reference/ncbi/S_schenckii_refseq/busco/run_sordariomycetes_odb10/full_table.tsv"
params.busco_gff = "$projectDir/data/reference/ncbi/S_schenckii_refseq/buscos_on_gff.tsv"
params.vc = "$projectDir/results/variant-calling"
params.snpeff_db = "Sporothrix_schenckii_1099_18_gca_000961545"
params.pl = "illumina"
params.pm = "nextseq"
params.extracted_genes = ["SPSK_01061|NW_015971149.1:1091665-1093785",
                   "SPSK_04193|NW_015971148.1:5427445-5429120",
                   "SPSK_03262|NW_015971148.1:2433852-2435512"]

    // Assemblies to align
params.vc_align = "$params.scaffolds/ragout/*"