// params.vc_ref = "$projectDir/data/reference/ncbi/S_schenckii_refseq/GCF_000961545.1_S_schenckii_v1_genomic.fasta"
params.vc_ref = "$projectDir/data/reference/genes/Sporothrix_schenckii_1099_18_gca_000961545"
// params.vc_ref = "$projectDir/data/reference/genes/buscos.fasta"
params.tmpdir = "${params.vc}/gatk_temp"
params.snpeff_data = "${params.vc}/snpeff_data"
params.readgroups = "RGID=1 RGLB=lib1 RGPL=ILLUMINA RGPU=unit1 RGSM=2"
params.vc = "$projectDir/results/variant-calling"
params.snpeff_db = "Sporothrix_schenckii_1099_18_gca_000961545"
params.pl = "illumina"
params.pm = "nextseq"
